/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

:root{
    --clr-primary: rgb(194, 166, 5);
    --clr-secondary: rgb(100, 112, 124);
    --clr-tertiary: rgb(213, 216, 219);
    --clr-text-light: rgb(243, 243, 240);
    --clr-text-dark: rgb(37, 37, 37);

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-text-dark);
  width: 100%;
}
body{
    color: var(--clr-tertiary);
}

.container{
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    padding: 0 0.5em;
}
.flex{
    display: flex;
    justify-content: space-between;
}
video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }
ul{
    padding: 0;
  }
  li {
    text-decoration: none;
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  i {
      color: var(--clr-text-light);
  }

header {
     background-color: var(--clr-secondary); 
}

.header{
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}
.header::after  {
    content: "";
    border-bottom: 1px solid var(--clr-text-light);
    width: 80%;
    position: absolute;
    top: 3em;
    margin-left: -40%;
    left: 50%;
    opacity: 0.5;
}
.logo p{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: var(--clr-primary);
}
.nav {
    display: none;
  }

.nav__link{
text-align: center;
}
.nav__link a{
    font-family: "Raleway", sans-serif;
    color: var(--clr-text-light);
    padding: 0.5em;
}
.btn--nav {
    color: var(--clr-text-light);
    padding: 0.3em;
    background-color: var(--clr-primary);
    text-align: center;
    margin-top: 1em;
}
.btn--nav a{
    color: var(--clr-text-light);
}

.hero {
    background-color: var(--clr-secondary);
}
.hero__image{
    margin-top: 2em;
}

.hero__image img {
  max-width: 180px;
  height: auto;
  width: 100%;
}

.hero__title h1{
    color: var(--clr-text-light);
    font-family: 'Montserrat', sans-serif;
}
.hero__title span{
    color: var(--clr-primary);
}
.hero_text{
    color: var(--clr-text-light);
    font-size: 0.9rem;
}

.collaboration_text p{
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem; 
  color: black;
  font-weight: bolder;
  opacity: 0.3;
}

.testimonials__image img{
    border-radius: 50%;
    width: 50%;
}
.collaboration__image {
    margin-top: 2em;
}
.collaboration__image video {
    width: 100%;
    object-fit: contain;
}

footer {
    background-color: var(--clr-text-dark);
}