/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --clr-primary: #FCBA05;
  --clr-secondary: rgb(100, 112, 124);
  --clr-tertiary: rgb(213, 216, 219);
  --clr-quaternary: rgb(195, 197, 172);
  --clr-text-light: rgb(248, 248, 242);
  --clr-text-dark: rgb(33, 31, 58);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-text-dark);
  width: 100%;
}
body {
  color: var(--clr-tertiary);
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
/* .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
  grid-template-areas:
    "hero__image"
    "hero__left";
  justify-items: center;
} */
video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}

image {
  max-width: 100%;
}
ul {
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
i {
  color: var(--clr-text-light);
}

header {
  background-color: var(--clr-secondary);
}

.header {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header::after {
  content: "";
  border-bottom: 1px solid var(--clr-text-light);
  width: 100%;
  position: absolute;
  top: 3em;
  margin-left: -50%;
  left: 50%;
  opacity: 0.4;
}
.logo p {
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--clr-primary);
}
.nav {
  display: none;
}
.nav__link {
  text-align: center;
}
.nav__link a {
  font-family: "Raleway", sans-serif;
  color: var(--clr-text-light);
  padding: 0.5em;
}
.btn--nav {
  color: var(--clr-text-light);
  padding: 0.3em;
  background-color: var(--clr-primary);
  text-align: center;
  margin-top: 1em;
}
.btn--nav a {
  color: var(--clr-text-light);
}
.hero {
  background-color: var(--clr-secondary);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hero__image {
  position: relative;
  margin-top: 2em;
  width: 200px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background-color: var(--clr-quaternary);
  margin: 1em -2em;
  transform: rotate(-5deg);
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0 auto;
  transform: rotate(8deg);
}
.hero__left {
  margin-top: 2em;
}
.hero__title h1 {
  color: var(--clr-text-light);
  font-family: "Montserrat", sans-serif;
}
.hero__title span {
  color: var(--clr-primary);
}
.hero_text {
  color: var(--clr-text-light);
  font-size: 0.9rem;
  margin-top: 1em;
  padding-bottom: 2em;
}
.services__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.services__image img {
  width: 200px;
  height: auto;
  margin-top: 3em;
}
.services__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--clr-text-dark);
  text-align: center;
  margin-top: 2em;
}
.services__text {
  color: var(--clr-text-dark);
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
.collaboration__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.collaboration__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--clr-text-dark);
  text-align: center;
  margin-top: 2em;
}
.collaboration__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.collaboration__text p {
  margin-top: 0.5em;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  color: black;
  font-weight: bolder;
  opacity: 0.3;
}
.collaboration__text p+p {
margin-left: 1em;
}
.collaboration__image {
  margin-top: 2em;
}
a.collaboration__btn {
  margin-top: 2em;
  font-family: "Raleway", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-text-light);
  padding: 0.5em;
  text-align: center;
  width: 120px;
}

.testimonials__label {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.testimonials__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--clr-text-dark);
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.testimonials__image img {
  border-radius: 50%;
  max-width: 120px;
  margin-bottom: 1em;
}
.testimonials__name {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-text-dark);
  font-size: 0.875rem;
  margin-bottom: 0.5em;
}
.testimonials__message {
  color: var(--clr-text-dark);
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: 1em;
}
footer {
  background-color: black;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer__title {
  font-size: 0.875rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.footer__link a, .footer__text {
  color: var(--clr-text-light);
  font-size: 0.875rem;
  opacity: 0.7;
}

.footer__col {
  margin-top: 1em;
}

.footer__input {
  outline: 1px solid var(--clr-text-light);
  background-color:black;
  border: none;
  margin-top: 2em;
  padding: 0.5em;
  opacity: 0.7;
}
.footer__button {
margin-top: 2em;
font-family: "Raleway", sans-serif;
background-color: var(--clr-primary);
color: var(--clr-text-light);
padding: 0.5em;
text-align: center;
width: 100px;
border: none;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  color: var(--clr-text-light);
  opacity: 0.5;
}

.copyright{
  margin-top: 2em;
}

.socials {
  margin-top: 1em;
  font-size: 1.25rem;
  margin-left: 1em;
}

.socials a + a{
  margin-left: 1em;
}