/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --clr-primary: #fcba05;
  --clr-secondary: rgb(100, 112, 124);
  --clr-tertiary: rgb(213, 216, 219);
  --clr-quaternary: rgb(195, 197, 172);
  --clr-text-light: rgb(248, 248, 242);
  --clr-text-dark: rgb(33, 31, 58);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General rules */
html,
body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-text-dark);
  width: 100%;
}
body {
  color: var(--clr-tertiary);
  background-color: rgb(255,255,250);
}
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.collaboration__image {
  width: 100%;
}
video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}

image {
  max-width: 100%;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
i {
  color: var(--clr-text-light);
}
/* -----------Header----------------- */
header {
  background-color: var(--clr-secondary);
}

.header {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header::after {
  content: "";
  border-bottom: 1px solid var(--clr-text-light);
  width: 100%;
  position: absolute;
  top: 4em;
  margin-left: -50%;
  left: 50%;
  opacity: 0.4;
}
.logo p {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--clr-primary);
}
.nav {
  display: none;
}
.nav__link {
  text-align: center;
}
.nav__link a {
  font-family: "Raleway", sans-serif;
  color: var(--clr-text-light);
  padding: 0.3em;
  font-size: 0.875rem;
}
.nav__list li {
  margin-left: 0.3em;
}
.btn--nav {
  color: var(--clr-text-light);
  padding: 0.3em 0.8em;
  background-color: var(--clr-primary);
  text-align: center;
  margin-top: 1em;
  font-size: 0.875rem;
}
.btn--nav a {
  color: var(--clr-text-light);
}

/* -----------Hero section----------------- */
.hero__content {
  background-color: var(--clr-secondary);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 3em;
}
.hero__image {
  position: relative;
  margin-top: 2em;
  width: 200px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-quaternary);
  margin: 1em -2em;
  transform: rotate(-5deg);
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0 auto;
  transform: rotate(8deg);
}
.hero__left {
  margin-top: 4em;
}
.hero__title h1 {
  color: var(--clr-text-light);
  font-family: "Montserrat", sans-serif;
}
.hero__title span {
  color: var(--clr-primary);
}
.hero__text {
  color: var(--clr-text-light);
  font-size: 0.9rem;
  margin-top: 1em;
  padding-bottom: 2em;
  max-width: 80%;
}
/* -----------Services section----------------- */
.services__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.services__image img {
  max-width: 340px;
  height: auto;
  margin-top: 3em;
}
.services__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--clr-text-dark);
  text-align: center;
  margin-top: 2em;
}
.services__text {
  color: var(--clr-text-dark);
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* -----------Collaboration section---------------- */
.collaboration__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.collaboration__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--clr-text-dark);
  text-align: center;
  margin-top: 2em;
}
.collaboration__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.collaboration__text p {
  margin-top: 0.5em;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  color: black;
  font-weight: bolder;
  opacity: 0.3;
}
.collaboration__text p + p {
  margin-left: 1em;
}
.collaboration__image {
  margin-top: 2em;
}
.collaboration__btn {
  margin-top: 2em;
  font-family: "Raleway", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-text-light);
  padding: 0.5em;
  text-align: center;
  width: 120px;
}
/* -----------Testimonials section----------------- */

.testimonials__label {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 1em;
  margin-bottom: 2em;
  background-color: white;
}
.testimonials__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--clr-text-dark);
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.testimonials__image img {
  border-radius: 50%;
  max-width: 120px;
  margin-bottom: 1em;
}
.testimonials__name {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-text-dark);
  font-size: 0.813rem;
  margin-bottom: 0.5em;
}
.testimonials__message {
  color: var(--clr-text-dark);
  text-align: center;
  font-size: 0.813rem;
  margin-bottom: 1.2em;
}
/* -----------Footer section----------------- */
footer {
  background-color: black;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer__title {
  font-size: 0.875rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.footer__link a,
.footer__text {
  color: var(--clr-text-light);
  font-size: 0.875rem;
  opacity: 0.7;
}

.footer__col {
  margin-top: 1em;
}

.footer__input {
  outline: 1px solid var(--clr-text-light);
  background-color: black;
  border: none;
  margin-top: 2em;
  padding: 0.5em;
  opacity: 0.7;
}
.footer__button {
  margin-top: 2em;
  font-family: "Raleway", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-text-light);
  padding: 0.5em;
  text-align: center;
  width: 100px;
  border: none;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  color: var(--clr-text-light);
  opacity: 0.5;
}

.copyright__text {
  margin-top: 2em;
  font-size: 0.875rem;
}

.socials {
  margin-top: 1em;
  font-size: 1.25rem;
  margin-left: 1em;
}

.socials a + a {
  margin-left: 1em;
}
/* -----------Media queries----------------- */
@media screen and (min-width: 630px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fas.fa-bars {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  .btn--nav {
    margin-top: 0;
  }
  .hero__image {
    width: 250px;
    height: 350px;
  }
  .hero__left {
    margin-top: 6em;
  }
  .hero__title {
    font-size: 1.5rem;
  }
  video {
    /* override other styles to make responsive */
    width: 80% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
  }
  .services__title,
  .collaboration__title,
  .testimonials__title {
    font-size: 1.2rem;
    margin-top: 2.5em;
  }
  .collaboration__text p {
    margin-top: 1em;
    font-size: 1.7rem;
  }
  .services__text,
  .hero__text {
    font-size: 0.938rem;
  }
  .testimonials__message {
    max-width: 300px;
  }
  .footer__nav {
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }
  .footer__col {
    margin-top: 0;
  }
  .footer__title {
    margin-top: 0.5em;
  }
  .footer__link a {
    line-height: 2;
  }
  .socials {
    margin-top: 1em;
    font-size: 1.5rem;
    margin-left: 1em;
  }
}

@media screen and (min-width: 800px) {
  .btn--nav {
    margin-left: 4em;
  }
  .hero__title {
    font-size: 1.7rem;
  }
  .collaboration__text p {
    font-size: 2rem;
  }
  .collaboration__text p + p {
    margin-left: 2em;
  }
  .testimonials__message {
    font-size: 0.875rem;
  }
  .services__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3em 2em;
    grid-template-areas: "first second " "forth third";
    align-items: start;
    margin-top: 6em;
  }
  .collaboration__title,
  .testimonials__title {
    font-size: 1.3rem;
    margin-top: 2.5em;
  }
  .services__title {
    margin-top: 0;
  }
  .services__image--left {
    grid-area: first;
  }
  .col-1 {
    grid-area: second;
  }
  .services__image--right {
    grid-area: third;
    justify-self: end;
}
  .col-2 {
    grid-area: forth;
  }
  .services__title {
    text-align: left;
  }
  .services__text,
  .hero__text p {
    font-size: 1rem;
    text-align: left;
  }
  .services__image img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
.testimonials__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 3em 2em;
  margin-bottom: 2em;
}
.testimonials__title {
  grid-column: 1 / span 3;
  grid-row: 1;
  margin-bottom: 0;
}
}
@media screen and (min-width: 900px) {
  .nav__link a {
    padding: 0.5em;
    font-size: 1rem;
  }
  .nav__list li {
    margin-left: 2em;
  }
  .hero__content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 5em;
  }
  .hero__image {
    width: 300px;
    height: 400px;
    margin-left: 4em;
  }
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__left {
    width: 50%;
  }
  .services__text,
  .hero__text {
    font-size: 1.125rem;
  }
  .collaboration__title,
  .testimonials__title {
    font-size: 1.6rem;
    margin-top: 2.5em;
  }
  .services__title {
    font-size: 1.6rem;
    margin-top: 0;
  }
  .services__image--left {
    grid-area: first;
  }
  .col-1 {
    grid-area: second;
  }
  .services__image--right {
    grid-area: third;
  }
  .col-2 {
    grid-area: forth;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 1fr;
    gap: 0 3em;
  }
}
